<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="Searchers">
      <section name="Google" type="System.Configuration.NameValueSectionHandler"/>
      <section name="Bing" type="System.Configuration.NameValueSectionHandler"/>    
    </sectionGroup>   
  </configSections>

  <Searchers>
    <Google>   
      <add key="Url" value="https://www.googleapis.com/customsearch/v1?key={0}&amp;cx={1}&amp;q={2}" />
      <add key="Context" value="006069699481197328138:gkuijpmqwsc" />
      <add key="ApiKey" value="AIzaSyBSxD5qee2QzQflVQNEdOkHM427pMLEzdk" />
    </Google>

    <Bing>
      <add key="Url" value="https://api.cognitive.microsoft.com/bing/v5.0/search?q={0}" />    
      <add key="ApiKey" value="1de8cb9b299640eb80ceab32c6fd5c9e" />      
    </Bing>
    
  </Searchers>
 
  <!--<appSettings>

    <add key="GoogleUrl" value="https://www.googleapis.com/customsearch/v1?key={0}&amp;cx={1}&amp;q={2}" />
    <add key="GoogleContext" value="006069699481197328138:gkuijpmqwsc" />
    <add key="GoogleApiKey" value="AIzaSyBSxD5qee2QzQflVQNEdOkHM427pMLEzdk" />

  </appSettings>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>